/* CSS Styles for MODx TreeSelectTV plugin*/

.treeBox {
/*    height: 50px;
    overflow: auto;
    border: 1px solid #ddd;*/
}


.treeBox .item_group {
    height: auto;
    width: auto;
    padding-right: 0;
    margin-right: 0;
} 
.treeBox .item_line {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
} 

.treeBox .item_text, .treeBox .selected .item_group .item_text {
    background: transparent;
    border-color: transparent;
}

.treeBox .item_text {
    text-decoration: none;
    display: inline-block;
    padding: 0px 6px;
    margin: 0;
    border: 1px solid transparent;
    cursor: pointer;
    cursor: hand;
}
.treeBox .item_text.hover, .treeBox .open .item_text.hover {
    background: #ffc;
    border: 1px solid #ccc;
}
.treeBox .selected .item_text {
    background: #eee;
    border: 1px solid #bbb;
}

.treeBox .folder_status, .treeBox .item_icon {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    width: 18px;
    height: 18px;
}

/* folder icons */
.treeBox .folder .item_icon {
    background: transparent url(media/style/MODxCarbon/images/tree/folder.gif) no-repeat;
}
.treeBox .folder .item_icon.open {
    background: transparent url(media/style/MODxCarbon/images/tree/folderopen.gif) no-repeat;
}
.treeBox .file .item_icon {
    background: transparent url(media/style/MODxCarbon/images/tree/page.gif) no-repeat;
}

/* folder status icons */
.treeBox .folder .folder_status {
    background: transparent url(media/style/MODxCarbon/images/tree/plusnode.gif) no-repeat;
}
.treeBox .folder .folder_status.open {
    background: transparent url(media/style/MODxCarbon/images/tree/minusnode.gif) no-repeat;
}
.treeBox .last_item .folder_status, .treeBox .last_item .folder_status.open {
    background: transparent;
}

/* filetype icons */
.treeBox .file.filetype-xml .item_icon {
    background: transparent url(media/style/MODxCarbon/images/tree/application_xml.png) no-repeat;
}
.treeBox .file.filetype-pdf .item_icon {
    background: transparent url(media/style/MODxCarbon/images/tree/application_pdf.png) no-repeat;
}
.treeBox .file.filetype-html .item_icon, .treeBox .file.filetype-htm .item_icon {
    background: transparent url(media/style/MODxCarbon/images/tree/application_html.png) no-repeat;
}
.treeBox .file.filetype-js .item_icon {
    background: transparent url(media/style/MODxCarbon/images/tree/application_js.png) no-repeat;
}
.treeBox .file.filetype-css .item_icon {
    background: transparent url(media/style/MODxCarbon/images/tree/application_css.png) no-repeat;
}

.treeBox li {
    list-style-image: none;
    list-style-type: none;
}

.hide {
    display: none;
}

